



fastapi
uvicorn
python-multipart    # Required for UploadFile in main.py
requests


mcp                 # Includes FastMCP, ClientSession, and sse_client


supabase


langchain
langchain-core
langchain-community
langchain-experimental  # Required for SemanticChunker
langchain-huggingface   # Required for HuggingFaceEmbeddings
langchain-google-genai  # Required for ChatGoogleGenerativeAI


pypdf                   # Required by PyPDFLoader to read PDFs
sentence-transformers   # Required by HuggingFaceEmbeddings to run the model locally